@import "compass";
@import "compass/layout";
@import "normalize";
@import "typography";
@import "mixins";




@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

// sticky footer mixin; see: http://compass-style.org/reference/compass/layout/sticky_footer/
// $footerHeight:100px;
// @include sticky-footer($footerHeight);

// Remove image link borders (if relevant)
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] {
	text-decoration: none;
	border: 0 none;
}

body {
	//@media(max-width: 480px){
		background: #f6b5ff; /* Old browsers */
		background: -moz-linear-gradient(left,  #f6b5ff 0%, #f6b5ff 5%, #f6b5ff 48%, #dde0ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #f6b5ff 0%,#f6b5ff 5%,#f6b5ff 48%,#dde0ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #f6b5ff 0%,#f6b5ff 5%,#f6b5ff 48%,#dde0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6b5ff', endColorstr='#dde0ff',GradientType=1 ); /* IE6-9 */
		background: linear-gradient(to right, rgba(246,181,255,.5) 0%, rgba(242,190,249,0.4) 5%, rgba(246,182,255,0.9) 48%, #dde0ff 100%);

	//}
	canvas {
		display: none;
	}
}

@font-face {
			font-family: Cooper;
			src: url("../css/webfont/CooperHewitt-Medium.otf") format("opentype");
			}
			@font-face {
			font-family: Iowan;
			src: url('../css/webfont/bitstream-iowan-old-style-bold-italic-bt.ttf') format('truetype')
			}

			.exImage{
		        margin-top: 7px;
			    margin-bottom: 7px;
			    margin-right: 2.5%;
			    margin-left: 2.5%;
			    max-height: 800px;
			    max-width:55%	;

	        }


			* {

		        font-family: Iowan,Helvetica Bold;
		        letter-spacing: 1.1;
	        }
	        #container {
		        top:0;
		        width:100%;
		        z-index:1;
		        min-height: 90%;
	        }


	        #myCanvas {
		        z-index:6;
		        position:fixed;;
		        opacity:.2;
						@media(max-width: 480px){
							display: none;
							pointer-events: none;
						}
	        }
	        #title, #exhibitions {
		        text-align:left;
		        padding-left:4%;
		        text-decoration: underline;
	        }

	        #exhibitions {
		        display:inline;
	        }

	        #title{
		     font-size:3.5em;
		     /*padding-top:10%;*/
		     display:inline-block;
	        }

	        #content {
		        text-align: center;
		        margin-bottom:5%;

		        font-size:1.5em;
						.list {
							padding: 0 20px;
							.exhib {
							    margin-top: 1em;
								}
						}
	        }

	        .poster{
		        width:45%;
		        margin-right:2.5%;
		        margin-left:2.5%;
						@media(max-width: 480px){
							width: 83%;
						}
	        }
	        #address {
		        padding:1%;
						padding-bottom: 40px;
		        width:100%;
		        position:static;
		        bottom: 0;
		        text-align:center;
		        font-size: 1em;
		        font-weight: 600;
		        font-family: TimesNewRoman;
		        font-family: Helvetica;

	        }
	        #aa {
		        text-decoration: line-through;
	        }
	        #upcoming {
		        font-size:5em;
            margin-bottom: 20px;
	        }
          .upcoming {

            margin-bottom: 20px;
          }

					.exh-title {
						width:100%;
						font-size: 1.2em;
						text-align:center;
						margin: 4% 0;
					}

	        @media screen and (max-width:600px) {
				#address {position:static;}
			}
